body{
    background-color: aqua;
}
.box-part{
    background-color:rgb(236, 245, 242);
    margin: 50px;
    padding: 30px 10px;

}
.fa{
    color:blue;
}
a{
    border-bottom: 1px solid blue;
}
p{
    margin-top: 20px;
}
.box{

    padding: 20px 0px;
}